BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
AccessModifierOffset: -1
AlignConsecutiveAssignments: true
AlignTrailingComments: true
ColumnLimit: 108
SortIncludes: false
BreakBeforeBinaryOperators: NonAssignment
IndentPPDirectives: BeforeHash